img, i {
  cursor: pointer;
}

img { width: 100%;}

#cards {
  display: flex;
  justify-content: space-between;
}

.buttons {
  cursor: default;
  display: flex;
  justify-content: space-around;
}

.hearthstone,
.customhearthstone,
.competitivehearthstone {
  height: 100px;
  margin: 20px 0;
}

.fa {
  font-size: 20px;
}