img, i {
  cursor: pointer;
}

img { width: 100%;}

.thread {
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  width: 70px;
  height: 55px;
}

#cards {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.buttons {
  cursor: default;
  display: flex;
  justify-content: space-around;
}

.hearthstone,
.customhearthstone,
.competitivehearthstone {
  height: 100px;
  margin: 20px 0;
}

.fa {
  font-size: 20px;
}